.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.texto {
  display: flex;
  justify-content: baseline;
  font-size: 20px;
  margin-left: 15px;
}

.foto {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
}

.divisao {
  background-color: black;
  border-radius: 5px;
  height: 10px;
  min-width: -webkit-fill-available;
  margin-top: 20px;
  margin-bottom: 20px;
}

.number-unmarked {
  width: 65px;
  height: 65px;
  margin: 3px 2px 3px 1px;
  z-index: 10;
  font-weight: bold;
  font: 15px Verdana, Tahoma, Arial;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  border-width: 3px !important;
  border-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.number-unmarked:hover {
  color: green;
  border-color: green;
}

.number-marked {
  width: 65px;
  height: 65px;
  margin: 3px 2px 3px 1px;
  z-index: 10;
  font-weight: bold;
  font: 15px Verdana, Tahoma, Arial;
  text-align: center;
  background-color: rgb(1, 110, 43);
  border-radius: 25px;
  border-width: 2px !important;
  border-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*.number-marked:hover {*/
/*  color: rgb(35, 124, 151);*/
/*  border-color: rgb(35, 124, 151);*/
/*}*/

@media screen and (max-width: 768px) {
  .GridNumber {
    margin-right: 30px !important;
    margin-left: 9px !important;
  }

  .legendaImagem {
    zoom: 60%;
  }

  .texto {
    display: flex;
    justify-content: baseline;
    font-size: 20px;
    margin-left: 0;
  }

  .number-unmarked {
    width: 45px;
    height: 45px;
  }
  .number-unmarked:hover {
    width: 45px;
    height: 45px;
  }
  .foto {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .divisao {
    background-color: black;
    border-radius: 5px;
    height: 10px;
    min-width: -webkit-fill-available;
  }

}
