.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.foto {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divisao {
  background-color: black;
  border-radius: 5px;
  height: 10px;
  min-width: -webkit-fill-available;
}

.number-unmarked {
  width: 46px;
    height: 46px;
    margin: 3px 2px 3px 1px;
    z-index: 10;
    font-weight: bold;
    font: 15px Verdana,Tahoma,Arial;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    border-width: 2px!important;
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.number-unmarked:hover {
  color: green;
  border-color: green;
}

.number-marked {
  flex: 1 1;
  display: table-cell;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px; 
  background-color: green;
  color: white;
}

/*.number-marked:hover {*/
/*  color: rgb(35, 124, 151);*/
/*  border-color: rgb(35, 124, 151);*/
/*}*/

@media screen and (max-width: 768px) {
  .number-unmarked {
  }
  .number-unmarked:hover {
  }
  .foto {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .divisao {
    background-color: black;
    border-radius: 5px;
    height: 10px;
    min-width: -webkit-fill-available;
  }

  .number-marked {
  }
}
